.icon {
  width: 64px;
  vertical-align: top;
  border: 1px solid salmon;
}

#myCanvas {
  border-radius: 10px;
  border: 2px solid black;
  filter: drop-shadow(7px 7px 7px gray);
}

.selectedTool {
  background-color: #0099ff;
  color: white;
}

button {
  margin: 4px;
  padding: 6px 10px;
  font-size: 16px;
}

body {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  max-width: 320px;
}

.selectedTool {
  outline: 2px solid blue;
}
